main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.app{
    border: 1px  black;
    border-radius: 5px;
    padding: 20px;
    background-color:indigo;
    
}

.title{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color:white
}

.form-input{
    padding: 10px;
}

.form-button{
    padding: 9px;
    font-size: 15px;
}

.list{
    border: 1px solid indigo;
    color: white;
}